.terms-ListRow td {
	border-bottom: 1px solid #E2E2E2;
}

table {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	spacing: 0px;
}

td {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	spacing: 0px;
}

th,td {
	padding: 0px;
}

.border-cell {
	border: 1px solid #777777;
}

.menu-table {
/*	border: 1px solid #777777;*/
	background-color: #D0E4F6;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

.flow-panel {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

.padding-right {
	padding-right: 6px;
}

.table-header {
	font-weight: bold;
}

.text-table {
	height: 46px;
}

.hebrew-label {
	font-size:300%
}

.latin-label {
	font-size:300%
}

.gwt-DecoratorPanel .middleCenter {
	height: 100%;
	width: 100%;
}

.Black {
	color: black;
}

.BlackBg {
	background-color: black;
}

.Grey {
	color: grey;
}

.Red {
	color: #ED1C24;
}

.Green {
	color: #22B14C;
}

.Blue {
	color: #3F48CC;
}

.Orange {
	color: #FF7F27;
}

.Purple {
	color: #A349A4;
}

.Yellow {
	color: #FFF200;
}