.terms-ListRow td {
	border-bottom: 1px solid #E2E2E2;
}

div#page {
	width: 800px;
	height: 800px;
	margin: 0 auto; 
}

a, a:visited, a:hover {
}

table {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	text-indent: 3px;
}

td {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}

th,td {
	padding: 0px;
}

.border-cell {
	border: 1px solid #777777;
}

.menu-table {
/*	border: 1px solid #777777;*/
	background-color: #D0E4F6;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

.flow-panel {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

.text-area {
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

.padding-right {
	padding-right: 6px;
}

.table-header {
	font-weight: bold;
}

.text-table {
	height: 46px;
}

.hebrew-label {
	font-size:300%
}

.latin-label {
	font-size:300%
}

.gwt-DecoratorPanel .middleCenter {
	height: 100%;
	width: 100%;
}

.black {
	color: black;
}

.white {
	color: white;
}

.whiteBg {
	background-color: white;
}

.blackBg {
	background-color: black;
}

.gray {
	color: gray;
}

a.red, a:visited.red, .red {
	color: #ED1C24;
}

a.green, a:visited.green, .green {
	color: #22B14C;
}

a.blue, a:visited.blue, .blue {
	color: #3F48CC;
}

a.orange, a:visited.orange, .orange {
	color: #FF7F27;
}

a.purple, a:visited.purple, .purple {
	color: #A349A4;
}

a.yellow, a:visited.yellow, .yellow {
	color: #FFF200;
}